.arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  transform: rotate(45deg);
  color: #000;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    height: 2px;
    width: 14px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    transform-origin: right top;
  }
}
