@import "../base/sizes";

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: $sidebar-width;
  height: 180px;
  background-color: white;

  @media (min-width: $base-screen-width + 14) {
    left: calc((100% - #{$base-screen-width}) / 2);
  }

  &.skewed-bg {
    padding-bottom: 12px;
  }

  .content {
    padding: 10px;
  }

  &__link {}

  &__img {
    width: 100%;
  }
}
