@import "../base/colors";
@import "../base/sizes";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: $sidebar-width-mobile;
  margin-top: 64px;
  padding: 126px 40px 40px;
  flex-shrink: 0;
  transform: translate(-100%, 0);
  transition: transform .3s ease;
  background-color: $sidebar-bg;

  @media (min-width: $medium-breakpoint + 1) {
    width: $sidebar-width;
    margin-top: 0;
    padding-top: 180px;
    transform: translate(0);
  }

  @media (min-width: $base-screen-width + 14) {
    left: calc((100% - #{$base-screen-width}) / 2);
  }

  &.active {
    transform: translate(0);
  }
}

.main-menu {
  overflow: auto;
  height: 100%;
  color: white;

  &__list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border-top: 1px solid white;
  }

  &__item {
    border-bottom: 1px solid white;
    font-size: 125%;
    cursor: pointer;
    transition: opacity .2s ease;

    &--secondary {
      margin-top: 6px;
      border-bottom: none;
      font-size: 75%;

      .main-menu__link {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    &--secondary + &--secondary {
      margin-top: 0;
    }

    &--active {
      color: $sidebar-item-active;
      cursor: default;
    }

    &:hover:not(&--active):not(&--expanded) {
      opacity: .7;
    }

    > .main-menu__list {
      display: none;
      font-size: 60%;

      .main-menu__item {
        border-bottom: none;
      }

      .main-menu__link {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    &--expanded {
      cursor: default;

      > .main-menu__list {
        display: block;
        padding-bottom: 6px;
        border-top: none;
      }

      > .main-menu__link {
        padding-bottom: 4px;
      }
    }
  }

  &__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
  }
}
