@import "../base/sizes";
@import "../base/mixins";

$gallery-gutter: 15px;

/*******************************/
/* JUMBOTRON
/*******************************/

.jumbotron {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-left: -$content-gutter;
  margin-right: -$content-gutter;

  &.skewed-bg {
    padding-bottom: 0;
    transform: skew(0deg, -3deg);
  }

  .content {
    width: 100%;
    height: 108%;
    transform: skew(0deg, 3deg);
    background: url("//via.placeholder.com/200x100?text=Jumbotron") center / cover no-repeat;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    text-decoration: none;
    color: #d9d8d8;
    background-color: #676666;
  }
}

/*******************************/
/* WELCOME MESSAGE
/*******************************/
.welcome-message {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {}
  &__text {}
}

/*******************************/
/* GALLERY
/*******************************/
.teasers {
  display: flex;
  flex-flow: wrap;
  margin-left: -$gallery-gutter;
  margin-right: -$gallery-gutter;

  &__item {
    width: 100%;
    padding-left: $gallery-gutter;
    padding-right: $gallery-gutter;
    margin-bottom: 30px;

    @media (min-width: $small-breakpoint) {
      width: 50%;
    }

    @media (min-width: $large-breakpoint) {
      width: 33.3333%;
    }

    @media (min-width: $x-large-breakpoint) {
      width: 25%;
    }
  }
}

.card {
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    text-decoration: none;

    &:hover {
      .card__img {
        transform: scale(1.2);
      }

      .card__arrow {
        opacity: .5;
      }
    }
  }

  &__img-wrapper {
    height: 250px;

    @media (min-width: $large-breakpoint) {
      height: 150px;
    }
  }

  &__img {
    height: 100%;
    min-width: 100%;
    vertical-align: top;
    transition: transform .3s ease;
  }

  &__description {
    position: relative;
    flex-grow: 1;
    padding: 10px;
    background-color: aliceblue;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__text {}

  &__arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
