doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block pageTitle
    title netzlabor | Index
    meta(name='description', content='Test job for netzlabor coding GmbH')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')

  body
    section#page-index.page-container.page-index
      include parts/_logo
      include parts/_sidebar

      main.page-content
        .jumbotron.skewed-bg
          .content
            a.jumbotron__button(href='') Read more

        .welcome-message
          h2.welcome-message__title Lorem ipsum dolor sit amet, ex quem dicta menandri cum.
          p.welcome-message__text
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
            |vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et
            |lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
            |elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec
            |vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci
            |ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.

        .teasers
          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/1.jpg' alt='Teaser Card 1')
              .card__description
                h2.card__title Heading 1
                p.card__text Lorem ipsum dolor sit amet
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/2.jpg' alt='Teaser Card 2')
              .card__description
                h2.card__title Long Heading 2
                p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/3.jpg' alt='Teaser Card 3')
              .card__description
                h2.card__title Heading 3
                p.card__text
                  |Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio,
                  |elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec
                  |vulputate justo hendrerit
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/4.jpg' alt='Teaser Card 4')
              .card__description
                h2.card__title It's very long-long heading for the card 4
                p.card__text Lorem ipsum dolor sit amet
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/5.jpg' alt='Teaser Card 5')
              .card__description
                h2.card__title Heading 5
                p.card__text Lorem ipsum dolor sit amet
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/6.jpg' alt='Teaser Card 6')
              .card__description
                h2.card__title Heading 6
                p.card__text Lorem ipsum dolor sit amet
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/7.jpg' alt='Teaser Card 7')
              .card__description
                h2.card__title Heading 7
                p.card__text Lorem ipsum dolor sit amet
                span.arrow.card__arrow

          .teasers__item.card
            a.card__link(href='')
              .card__img-wrapper
                img.card__img(src='/img/teasers/8.jpg' alt='Teaser Card 8')
              .card__description
                h2.card__title Heading 8
                p.card__text Lorem ipsum dolor sit amet
                span.arrow.card__arrow

    //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
