aside#sidebar.sidebar
  nav.main-menu
    ul.main-menu__list
      li.main-menu__item
        span.main-menu__link Menu punkt 1

        ul.main-menu__list
          li.main-menu__item
            a.main-menu__link(href='1') Menu punkt 1
          li.main-menu__item
            a.main-menu__link(href='2') Menu punkt 2
          li.main-menu__item
            a.main-menu__link(href='3') Menu punkt 3

      li.main-menu__item.main-menu__item--active
        span.main-menu__link Menu punkt 2

      li.main-menu__item
        a.main-menu__link(href='3') Menu punkt 3

      li.main-menu__item.main-menu__item--secondary
        a.main-menu__link(href='4') Menu punkt 4

      li.main-menu__item.main-menu__item--secondary
        a.main-menu__link(href='4') Menu punkt 4

button#menu-trigger.hamburger.hamburger--spring(type='button')
  span.hamburger-box
    span.hamburger-inner
