@import "../base/colors";
@import "../base/sizes";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: sans-serif;
  background-color: $body-bg;
}

a {
  color: inherit;
}

.page-container {
  display: flex;
  position: relative;
  max-width: $base-screen-width;
  margin-left: auto;
  margin-right: auto;
  background-color: $page-bg;
}

.page-content {
  overflow-x: hidden;
  padding-left: $content-gutter;
  padding-right: $content-gutter;

  @media (min-width: $medium-breakpoint + 1) {
    margin-left: $sidebar-width;
  }
}
