@function perc($px, $base: $base-screen-width) {
  @return ($px / $base) * 100%;
}

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
