$base-font-size: 16px;
$base-screen-width: 980px;

$small-breakpoint: 406px;
$medium-breakpoint: 622px;
$large-breakpoint: 700px;
$x-large-breakpoint: 820px;

$sidebar-width: 240px;
$sidebar-width-mobile: 304px;

$content-gutter: 30px;
